<h1>Update Movie</h1>

<form>

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input #title type="text" value="{{movie.title}}" class="form-control">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea #description value="{{movie.description}}" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image Url</label>
        <input #imageUrl type="text" value="{{movie.imageUrl}}" class="form-control">
    </div>

<div class="mb-3">
    <label for="categoryId" class="form-label"></label>
    <select #categoryId class="form-select">
        <option *ngFor="let item of categories" [value]="item.id" >{{item.name}}</option>
    </select>
</div>
<button class="btn btn-success" (click)="createMovie(title,description,imageUrl,categoryId)" >
    Update Movie
</button>

</form>